certifi==2024.12.14
charset-normalizer==3.4.1
code_ast==0.1.1
code_tokenize==0.2.1
darkdetect==0.8.0
gitdb==4.0.12
GitPython==3.1.44
idna==3.10
mypy==1.14.1
mypy-extensions==1.0.0
numpy==2.2.2
parameterized==0.9.0
pillow==11.1.0
requests==2.32.3
ruff==0.9.3
setuptools==75.8.0
smmap==5.0.2
tree-sitter==0.21.3
typing_extensions==4.12.2
urllib3==2.3.0
